<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bfr.opencvapp"
    android:sharedUserId="android.uid.system">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MainApplication"
        android:theme="@style/Theme.AppCompat.NoActionBar">  <!--Full screen mode-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">  <!--Screen orientation-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                 <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <!--Camera usage configuration-->
    <uses-permission android:name="com.bfr.buddy.resource.SPEECH" />
    <uses-permission android:name="com.bfr.buddy.resource.LISTEN" />
    <uses-permission android:name="com.bfr.buddy.resource.WHEELS" />
    <uses-permission android:name="com.bfr.buddy.resource.HEAD" />
    <uses-permission android:name="com.bfr.buddy.resource.LEDS" />
    <uses-permission android:name="com.bfr.buddy.resource.SENSOR_MODULE" />
    <uses-permission android:name="com.bfr.buddy.resource.FACE" />
    <uses-permission android:name="com.bfr.buddy.resource.GUI" />
    <uses-permission android:name="com.bfr.buddy.resource.VISION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

</manifest>

